:root {
  --dark-blue: #1d3557;
  --light-blue: #457b9d;
  --white: #f1faee;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #f1faee;
  background-image: linear-gradient(
    to bottom right,
    var(--dark-blue),
    var(--light-blue)
  );
}

.city-container {
  border: 1px solid black;
  padding: 0.25rem;
  margin: 0.25rem;
}

.text {
  font-size: 24px;
}

.forecast-card {
  background-color: var(--dark-blue);
  color: var(--white);
  margin: 0.25rem;
}
